<div class="container-fluid">
    <div class="container mt-5">


<section class="section-home">
<h2 class="section-heading--main">
    Hey, <span id="username">Name</span>! Welcome to your next Best Read.
</h2>
<hr>

<div id="recommendations-container"></div>

<script id="recommendations-template" type="text/x-handlebars-template">
\{{#each author}}
<div class="section-heading--sub mt-5">
    Recommendation: More Books By \{{name}}
</div>

<div class="row mb-5">
    \{{#each work}}
<div class="col-lg-3 col-sm-6 d-inline">
    <div class="card mb-3">
        <a href="#" class="current-book-link" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" id="\{{id}}">
        <img src=" \{{image}}" class="img-fluid card-img-top" style="max-height:25rem" alt="book">
        </a>

    <div class="btn--add dropdown" id="{{book_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item add-to-list" id="current-reads" value="1" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" data-id="\{{book_id}}">Current Reads</a>
      <a class="dropdown-item add-to-list" id="past-reads" value="2" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" data-id="\{{book_id}}">Past Reads</a>
      <a class="dropdown-item add-to-list" id="future-reads" value="3" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" data-id="\{{book_id}}">Future Reads</a>
    </div>

    </div>
</div>
\{{/each}}
</div>
\{{/each}}
</script>


</section>


</div>
</div>


<script src="assets/js/recommendations.js" type="text/javascript" ></script>












