<section class="my-lists">
    <div class="container-fluid">

        <div class="container mt-5">
            <div class="row">
                <h2 class="section-heading--main">
                    My Lists
                </h2>
            </div>
            <hr>


            <div class="row">
                {{!-- LEFT COLUMN --}}
                <div class="col-lg-3 w-25">
                    <div class="row">
                        <h1 class="lists-heading">My Lists</h1>
                    </div>
                    <div class="row">
                        <ul style="list-style-type:none;">
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Create List
                                        <i
                                            class="fas fa-plus-circle btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                    </button>
                                </li>
                            </h3>
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Delete List
                                        <i
                                            class="fas fa-minus-circle btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                    </button>
                                </li>
                            </h3>
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Rename List
                                        <i class="fas fa-redo btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                    </button>
                                </li>
                            </h3>
                        </ul>
                    </div>
                </div>

                {{!-- RIGHT COLUMN --}}
                <div class="col-5-lg w-75">

                    <div id="current-reads-container"></div>
                    <div id="past-reads-container"></div>
                    <div id="future-reads-container"></div>

                    {{!-- Current Reads Images --}}
                    <script id="current-reads-template" type="text/x-handlebars-template">
                    <div class="row">
                        <h3 class="lists-heading"><a href="/mylist?list=current">Current Reads</a></h3>
                    </div>

                    <div class="row row-height-250 mb-5">
                        \{{#each current}}
                        <div class="col-lg-3 col-sm-6">
                            <a href="#" class="current-book-link" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" id="\{{book_id}}">
                            <img src="\{{image}}" class="img-fluid" alt="book">
                            </a>
                        </div>
                        \{{/each}}
                    </div>
                    </script>

                    {{!-- Past Reads Images --}}
                    <script id="past-reads-template" type="text/x-handlebars-template">
                    <div class="row">
                        <h3 class="lists-heading"><a href="/mylist?list=past">Past Reads</a></h3>
                    </div>

                    <div class="row row-height-250 mb-5">
                        \{{#each past}}
                        <div class="col-lg-3 col-sm-6">
                            <a href="#" class="current-book-link" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" id="\{{book_id}}">
                            <img src="\{{image}}" class="img-fluid" alt="book">
                            </a>
                        </div>
                        \{{/each}}
                    </div>
                    </script>

                    {{!-- Future Reads Images --}}
                    <script id="future-reads-template" type="text/x-handlebars-template">
                    <div class="row">
                        <h3 class="lists-heading"><a href="/mylist?list=future">Future Reads</a></h3>
                    </div>

                    <div class="row row-height-250 mb-5">
                        \{{#each future}}
                        <div class="col-lg-3 col-sm-6">
                            <a href="#" class="current-book-link" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" id="\{{book_id}}">
                            <img src="\{{image}}" class="img-fluid" alt="book">
                            </a>
                        </div>
                        \{{/each}}
                    </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/display-lists.js" type="text/javascript" ></script>
