<section class="my-lists">
    <div class="container-fluid">

        <div class="container mt-5">
            <div class="row">
                <h2 class="section-heading--main">
                    My Lists
                </h2>
            </div>
            <hr>

            
            <div class="row">
                {{!-- LEFT COLUMN --}}
                <div class="col-lg-3 w-25">
                    <div class="row">
                        <h1 class="lists-heading">My Lists</h1>
                    </div>
                    <div class="row">
                        <ul style="list-style-type:none;">
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Create List
                                    <i class="fas fa-plus-circle btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                </button>
                                </li>
                            </h3>
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Delete List
                                    <i class="fas fa-minus-circle btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                </button>
                                </li>
                            </h3>
                            <h3>
                                <li>
                                    <button type="button" class="btn btn-light btn-lg">Rename List
                                    <i class="fas fa-redo btn--add-not-listed hvr-grow hvr-back-pulse fa-xs"></i>
                                </button>
                                </li>
                            </h3>
                        </ul>
                    </div>
                </div>

                {{!-- RIGHT COLUMN --}}
                <div class="col-5-lg w-75">

                    <div id="current-reads-container"></div>
                    
                    {{!-- Current Reads Images --}}
                    <script id="current-reads-template" type="text/x-handlebars-template">
                    <div class="row">
<<<<<<< HEAD
                        <h3 class="lists-heading"><a href="/mylist?list=current">Current Reads</a></h3>
=======
                        <h3 class="lists-heading"><a href="/mylist/current">Current Reads</a></h3>
>>>>>>> master
                    </div>

                    <div class="row row-height-250 mb-5">
                        \{{#each current}}
                        <div class="col-lg-3 col-sm-6">
                            <a href="#" class="current-book-link" data-title="\{{title}}" data-author="\{{author}}" data-rating="\{{rating}}" data-img="\{{image}}" id="\{{book_id}}">
                            <img src="\{{image}}" class="img-fluid" alt="book">
                            </a>
                        </div>
                        \{{/each}}
                    </div>
                    </script>

                    {{!-- Past Reads Images --}}
                    <div class="row">
                        <h3 class="lists-heading"><a href="/mylist/past">Past Reads</a></h3>
                    </div>
                    <div class="row row-height-250 mb-5">
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524380562l/39911748._SY475_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1482729135l/33580202._SX318_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473867911l/29780253.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1503615890l/31145186._SX318_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                    </div>
                    {{!-- Future Reads Images --}}
                    <div class="row">
                        <h3 class="lists-heading"><a href="/mylist/future">Future Reads</a></h3>
                    </div>
                    <div class="row row-height-250 mb-5">
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524380562l/39911748._SY475_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1482729135l/33580202._SX318_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473867911l/29780253.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1503615890l/31145186._SX318_.jpg"
                                class="img-fluid" alt="book">
                            <i
                                class="fas fa-plus-circle btn--add btn--add-not-listed hvr-grow hvr-back-pulse fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<<<<<<< HEAD
<script src="/assets/js/display-lists.js" type="text/javascript" ></script>
=======
<script src="/assets/js/add-btn.js" type="text/javascript" ></script>
>>>>>>> master
